.box_makersLineAExp {
    display: flex;
    //justify-content: flex-end;
    //justify-content: space-between;
    //border: 1px solid red;
}
.box_makersLineAExp .icon_back {
    display: flex;

    margin: 4px;
    //color:rgb(247,215,46);

    cursor: pointer;
    //border: 1px solid red;
}