.box_makersLineD {
    display: flex;
    justify-content: center;

    max-height: 400px;

    //border: 1px solid red;
}
.box_makersLineD .painel_content_lineD {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width:90%;

    margin-top: 10px;
    margin-bottom: 10px;

    //border: 1px solid red;
}