.box_makersLineC {
    display: flex;
    justify-content: center;

    //border: 1px solid red;
}
.box_makersLineC .makersLineC_tit {
    display: flex;

    width: 90%;
    margin-top: 50px;

    color: rgb(247,215,46);
    font-size: 2.2rem;
    font-weight: bold;

    //border: 1px solid red;
}