.box_painelTR {
    display: flex;
    //flex-direction: column;

    width: 90%;
    padding: 10px; /* padding temporário ..em breve.. */

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 8px;
    box-shadow: 0px 1px 2px rgb(255, 255, 255);
    //border: 1px solid red;
}