.box_sensores {
    display:flex;
    flex-direction: column;
    padding:6px;
    //border:1px solid red;
}

/* TÍTULO */
.box_sensores .titS {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    //border:1px solid red;
}

/* LOADING */
.box_sensores .painelL {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border:1px solid red;
}
.box_sensores .painelL .boxMsgVerif {
    display:flex;
    padding:6px;
    font-size: 0.8rem;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    //border:1px solid red;
}

/* PAINEL */
.box_sensores .painelS {
    display:flex;
    flex-wrap: wrap;
    //border:1px solid red;
}

/* RESERVATóRIO */
.box_sensores .painelS .box_nivelAgua {
    display:flex;
    flex-direction: column;
    //width: 260px;
    //border-radius: 8px;
    //background: rgba(255,255,255,0.8);
    //border:1px solid red;
}
.box_sensores .painelS .box_nivelAgua .titGraf {
    display:flex;
    justify-content: center;
    align-items: center;
    //width: 260px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    //border:1px solid red;
}
.box_sensores .painelS .box_nivelAgua .elGraf {
    display:flex;
    //width: 260px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    //border:1px solid red;
}
.box_sensores .painelS .box_nivelAgua .boxEdit {
    display:flex;
    flex-direction: column;
    //width: 260px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    //border:1px solid red;
}

/* seleção limiar percentual de humidade */
.box_sensores .painelS .box_nivelAgua .boxEdit .editH {
    display:flex;
    padding:4px;
    //border:1px solid red;
}

/* seleção vávula */
.box_sensores .painelS .box_nivelAgua .boxEdit .boxRatioV {
    display:flex;
    padding:4px;
    //border:1px solid red;
}
.box_sensores .painelS .box_nivelAgua .boxEdit .boxRatioV .ratioV {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:6px;
    border-radius: 8px;
    min-width: 50px;
    cursor: pointer;
    box-shadow: 0px 1px 2px black;
    //border:1px solid rgb(218, 83, 43);
}

/* CONTADOR DE ÁGUA */
.box_sensores .painelS .box_contadorAgua {
    display:flex;
    flex-direction: column;
    //width: 260px;
    //border-radius: 8px;
    //background: rgba(255,255,255,0.8);
    //border:1px solid rgb(255, 217, 0);
}
.box_sensores .painelS .box_contadorAgua .titGraf {
    display:flex;
    justify-content: center;
    align-items: center;
    //width: 260px;
    border-radius: 8px;
    background: rgba(255,255,255,0.8);
    //border:1px solid red;
}
.box_sensores .painelS .box_contadorAgua .elGraf {
    display:flex;
    //width: 260px;
    border-radius: 8px;
    background: rgba(255,255,255,0.6);
    //border:1px solid red;
}