/*.box_linePromo {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: rgba(1,1,1,0.2);
    border:4px solid rgb(0, 0, 0);
}*/

.box_linePromo {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: rgb(156, 219, 120);
    border:4px solid rgb(0, 0, 0);
}