.box_painelLineMain {
    display: flex;
    justify-content: space-between;
    //align-self: center;
    flex-wrap: wrap;

    //margin: 10px;
    width: 100%;
    height: 100%;
    //margin-bottom: 100px;

    //border: 1px solid red;
}