@font-face {
    font-family: myFonts;
    /*src: url('./../assets/fonts/NotoSans-Regular.ttf');*/
    src: url('./../assets/fonts/Inconsolata.ttf');
    /*src: url('./../assets/fonts/Noto_Sans/NotoSans-Bold.ttf');*/
}

.box_app {
    display: flex;
    flex-direction: column;

    font-family: myFonts;
    //font-family: 'Noto Sans', sans-serif;

    font-weight: 600;

    //border: 1px solid rgb(0, 17, 255);
}
