.box_cardMainC {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    min-width: 160px;

    margin: 6px;
    //margin-bottom: 60px;
    //margin-top: 14px;

    //border: 1px solid red;
}