.box_cardMainB {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    flex: 0.3;
    min-width: 160px;

    margin: 6px;

    //margin-bottom: 60px;
    //padding: 4px;

    //border: 1px solid rgb(34, 24, 24);
}
.box_cardMainB .largeElCardB {
    display: flex;

    //border: 1px solid red;
}
.box_cardMainB .extraLine_CardB {
    display: flex;

    //border: 1px solid red;
}