.box_categCarousel {
    display:flex;
    //justify-content: center;
    margin-bottom: 40px;
    //border: 1px solid red;
}
.box_categCarousel .line_categCarousel {
    display:flex;
    width: 100%;
    //border: 1px solid red;
}
.box_categCarousel .line_categCarousel .scrollLineCarousel {
    display:flex;
    overflow: hidden; /* Esconder barra scroll horizontal */
    //max-width: 50%;
    //border: 1px solid red;
}
.box_categCarousel .line_categCarousel .scrollLineCarousel .el_lineCarousel {
    display:flex;
    justify-content: center;
    align-items: center;

    width:200px; /* Dimensão da versão LARGE */
    height:200px; /* Dimensão da versão LARGE */

    margin:1px;
    border-radius: 2px;
    //border:1px solid rgb(234, 0, 255);
}

.box_categCarousel .line_categCarousel .scrollLineCarousel .el_lineCarousel .img_lineCarousel {
    display:flex;
    //max-height: 200px;
    min-height: 180px;
    cursor:pointer;
    background: black;
    box-shadow: 0px 1px 4px black;
    //border:1px solid rgb(255, 174, 0);
}
.box_categCarousel .line_categCarousel .scrollLineCarousel .el_lineCarousel .img_lineCarousel .box_action {
    display:flex;
    justify-content: center;
    height:100%;
    //border:1px solid rgb(255, 174, 0);
}
.box_categCarousel .line_categCarousel .scrollLineCarousel .el_lineCarousel .img_lineCarousel .box_action .btn_action {
    display:flex;
    align-items: flex-end;
    justify-content: center;
    //border:1px solid rgb(255, 174, 0);
}

.imgCardSelected {
    display:flex;

    height:200px;

    //border:1px solid red;
}
.content_imgCardSelected {
    display:flex;
    align-self: center;

    //position:fixed;
    position:relative;
    //position:absolute;
    top:70px;
    right:200px;
    //bottom:50px;
    z-index: 1; /* Elemento fica acima dos outros */

    border:1px solid red;
}