.box_clPage {
    display:flex;
    justify-content: center;
    width: 100%;
    //border:1px solid green;
}
.box_clPage .painel_cl {
    display:flex;
    justify-content: center;
    width: 90%;
    //border:1px solid red;
}