.box_painelResumoProd {
    display:flex;
    flex-direction: column;
    margin-top: 6px;
    margin-bottom: 10px;
    padding:4px;
    font-size: 0.8rem;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
    //border:1px solid red;
}
.box_painelResumoProd .txt_sup {
    display:flex;
    justify-content: center;
    margin:6px;
    margin-bottom: 20px;
    //border:1px solid red;
}
.box_painelResumoProd .painel_chip {
    display:flex;
    margin-bottom: 4px;
    //border:1px solid red;
}
.box_painelResumoProd .painel_chip .el_info {
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding:4px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    background-color: rgba(1,1,1,0.3);
    //border:1px solid red;
}
.box_painelResumoProd .painel_chip .el_info .el_tit {
    display:flex;
    flex-direction: column;
    align-self: center;
    font-size: 0.75rem;
    //border:1px solid red;
}
.box_painelResumoProd .painel_chip .el_info .el_tit .el_tit_secund {
    display:flex;
    font-size: 0.6rem;
    //border:1px solid red;
}
.box_painelResumoProd .painel_chip .el_info .el_pr {
    display:flex;
    justify-content: flex-end;
    align-self: center;
    min-width: 30%;
    //border:1px solid red;
}
.box_painelResumoProd .painel_chip .el_edit {
    display:flex;
    align-items: center;
    padding: 2px;
    flex-wrap: wrap;
    font-size: 0.75rem;
    color:rgb(74, 147, 191);
    cursor:pointer;
    border:1px solid rgb(74, 147, 191);
}
.box_painelResumoProd .painel_chip .el_closed {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    padding: 2px;
    font-size: 0.75rem;
    color:rgb(191, 88, 74);
    //border-radius: 30px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor:pointer;
    border:1px solid rgb(191, 88, 74);
}

.box_painelResumoProd .painel_fin {
    display:flex;
    flex-direction: column;
    //border:1px solid red;
}
.box_painelResumoProd .painel_fin .el_fin {
    display:flex;
    justify-content: space-between;
    //border:1px solid red;
}

.box_painelResumoProd .msg_alerta {
    display:flex;
    font-size: 0.7rem;
    //border:1px solid red;
}

.box_painelResumoProd .painel_btn {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    //border:1px solid red;
}