.box_mAlarmes {
    display:flex;
}
.box_mAlarmes .painelGeralConsumidor {
    display:flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    //border:1px solid red;
}

.box_mAlarmes .painelGeralConsumidor .boxTit {
    display:flex;
    justify-content: center;
    padding:6px;
    width: 100%;
    margin-bottom: 4px;
    font-size: 1.2rem;
    font-weight: 300;
    color:bisque;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border:1px solid rgb(0, 162, 255);
    background: rgba(7,46,79,0.8);
}

/* headers da lista */
.box_mAlarmes .painelGeralConsumidor .headersClasses {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:6px;
    margin:1px;
    width: 100%;
    border-radius: 4px;
    background: rgba(7,46,79,0.8);
    //border:1px solid rgb(184, 48, 189);
}
.box_mAlarmes .painelGeralConsumidor .headersClasses .hCard {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:2px;
    width: 150px;
    margin:1px;
    font-size: 0.9rem;
    border-radius: 4px;
    background: rgba(255,255,255,0.1);
    //border:1px solid rgb(184, 48, 189);
}

/* lista de contadores */
.box_mAlarmes .painelGeralConsumidor .boxLi {
    display:flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    //border:1px solid red;
}
.box_mAlarmes .painelGeralConsumidor .boxLi .liClasses {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:6px;
    margin:1px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(255,255,255,0.6);
    //border:1px solid rgb(184, 48, 189);
}
.box_mAlarmes .painelGeralConsumidor .boxLi .liClasses .cCard {
    display:flex;
    justify-content: center;
    width: 150px;
    margin:1px;
    font-size: 0.9rem;
    border-radius: 4px;
    background: rgba(255,255,255,0.1);
    //border:1px solid rgb(184, 48, 189);
}