.box_agro {
    display:flex;
    flex-direction: column;
    height: 100%;
    min-height: 600px;
    //background-color: rgb(8, 139, 4,0.6);

    //width: 1000px;
    //background-size: cover;
    
    //border:1px solid red;
}