.box_bodyAgroLarge {
    display:flex;
    align-items: center;
    //height: 100%;
    width: 100%;

    //background-position: center bottom;
    
    //background-size: contain, cover;
    //background-size: cover;
    //background-size: contain;
    
    //background-size:100%;

    box-shadow: 0px -1px 4px black;
    //border:1px solid red;
}